{{! Não esquecer de declarar no HTML o _section, conforme configurado na instanciação do handlebars}}
{{#section 'head'}}
<!-- No search me Google-->
<meta name="robots" content="noindex">
{{/section}}

<div class="card-body text-center">
    <div class="card-header">
        <h1>Sections - cap7. pg113</h1>
    </div>
    <div class="card-body">
       <p>Waiting the alert! or Refresh the Page</p>
    </div>
</div>

{{#section 'scripts'}}
<script>
   alert("It's Work!!")
</script>
{{/section}}