<div class="card-body text-center">
    <div class="card-header">
        <h1>Success Upload file</h1>
    </div>
    <div class="card-body">
       <p>You picture is saved! Wating for result of contest.</p>
    </div>
</div>