<div class="card-body text-center">
    <div class="card-header">
        <h1>About to Meadlowlark Travel</h1>
    </div>
    <div class="card-body">
        {{#if biscoito}}
        <p>O seu biscoito da sorte diz:</p>
        <blockquote>{{biscoito}}</blockquote>
        {{/if}}
    </div>
</div>