<div class="container">
    <div class="row">
        <div class="col-xs|sm|md|lg|xl-1-12">
            <div class="card-body text-center ">
                <div class="card-header">
                    <h1>Basic Form</h1>
                </div>
                <div class="card-body">
                    <form action="/sendFrom" method="post">
                        <div>
                            <label>Seu Nome:
                                <input name="name" class="form-control"/>
                            </label>
                        </div>
                        <br />
                        <div>
                            <label>Seu email:
                                <input name="email" class="form-control"type="email" />
                            </label>
                        </div>
                        <br />
                        <div>
                            <button class="btn btn-primary" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>