<div class="container">
    <div class="row">
        <div class="col-xs|sm|md|lg|xl-1-12">
            <div class="card-body text-center ">
                <div class="card-header">
                    <h1>Greeting</h1>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Menssagem:</dt>
                        <dd>
                            {{message}}
                            <br />(Cap6, pg97, ex.:6.3)
                        </dd>

                        <dt>Estilo:</dt>
                        <dd>
                            {{style}}
                            <br />(edit URL to change; for example, <a
                                href="/greeting/?style=fancy">/greeting/?style=fancy</a>)
                        </dd>

                        <dt>User ID (do cookie):</dt>
                        <dd>
                            {{userid}}
                            <br />(click <a href="/randomUserId">aqui</a> para mudar o Id)
                        </dd>

                        <dt>Username (do session):</dt>
                        <dd>
                            {{username}}
                            <br />(click <a href="/randomUserName">aqui</a> para mudar o User Name)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>