<div class="container">
    <div class="row">
        <div class="col-xs|sm|md|lg|xl-1-12">
            <div class="card-body text-center ">
                <div class="card-header">
                    <h1>Headers</h1>
                </div>
                <div class="card-body">
                    <iframe src="/headers" style="width: 100%;"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
