<!doctype html>
<html>
<head>
    <title>Now Layout</title>
</head>
<body>
    <!-- we're not using a layout, so we have to include all HTML -->
    <h1>No Layout</h1>
    <p>Não estamos usando um arquivo de layout(página mestre), portanto, todo o HTML está à vista!</p>
    <a href="/">Voltar</a>
</body>
</html>